* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
#root {
  display: flex;
  margin: auto;
  background-color: rgb(235, 231, 231);
}

.airport-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  width: 100%;

  &__header {
    width: 100%;
    padding: 0 8em;

    & .searach-flight {
      width: 100%;
      position: relative;

      & .search-icon {
        position: absolute;
        top: calc(50% - 0.5em);
        left: 17px;
        margin-right: 17px;
        color: #ddd;
      }

      &__input {
        width: calc(100% - 120px);
        height: 50px;
        border: none;
        outline: none;
        padding-left: 3em;
        letter-spacing: 0.1em;
        &::placeholder {
          color: #ddd;
        }
      }
      &__btn {
        width: 120px;
        height: 50px;
        border: none;
        outline: none;
        background-color: #1eb7ee;
        text-transform: uppercase;
        color: #ffffff;
        text-align: left;
        padding-left: 1em;
        border-top-right-radius: 45px;
        &:hover {
          -webkit-animation: 0.2s linear forwards change_border_top_right_radius;
          -moz-animation: 0.2s linear forwards change_border_top_right_radius;
          -o-animation: 0.2s linear forwards change_border_top_right_radius;
          animation: 0.2s linear forwards change_border_top_right_radius;
        }
      }
    }
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3em;
  }

  &__content {
    width: 100%;
    padding: 0 2em;

    & .flights {
      margin-top: 2em;

      &__navigation {
        background-color: #73d2f0;
        height: 45px;
        display: flex;
        justify-content: space-between;
        border-top-right-radius: 45px;
        border-top-left-radius: 45px;
        &:hover{
          background-color: #1eb7ee;
        }
        & a{
          width: 50%
        }
        & .navigation__btn {
          background-color: #73d2f0;
          border: none;
          outline: none;
          background-color: transparent;
          height: 100%;
          width: 100%;
          padding: 0;
          color: #ffffff;
          border-top-right-radius: 45px;
          border-top-left-radius: 45px;
          cursor: pointer;
          &:hover{
            background-color: #1eb7ee;
          }
          &.selected{
            background-color: #ffffff;
            color: #1eb7ee;
            &.btn_departures{
              -webkit-animation: 1s linear forwards change_border_top_right_radius;
              -moz-animation: 1s linear forwards change_border_top_right_radius;
              -o-animation: 1s linear forwards change_border_top_right_radius;
              animation: 1s linear forwards change_border_top_right_radius;
            }
            &.btn_arrivals{
              -webkit-animation: 1s linear forwards change_border_top_left_radius;
              -moz-animation: 1s linear forwards change_border_top_left_radius;
              -o-animation: 1s linear forwards change_border_top_left_radius;
              animation: 1s linear forwards change_border_top_left_radius;
            }
          }
          
        }
      }

      &__list {
        width: 100%;
        border-collapse: collapse;
        & th,
        & td {
          padding: 0 0.5em;
          text-align: left;
        }
        & thead {
          background-color: #ffffff;
          & tr {
            height: 6em;
            vertical-align: bottom;
            line-height: 2em;
            color: #ddd;

          }
        }
        &__item {
          height: 30px;
          &:nth-child(even){
            background-color: #ffffff;
          }
          & td{
            padding: .5em 0;
          }
          &_terminal{
            text-align: center;
            & span{
              display: block;
              text-align: center;
              border: 2px solid #00ff00;
              width: 40px;
              height: 40px;
              color:#00ff00;
              border-radius: 50%;
              line-height: 36px;
              margin: 0 auto;
            }
          }

          &_airline {
            white-space: nowrap;
            & img {
              max-width: 50px;
              vertical-align: middle;

            }
            & span {
              max-width: 50%;
              vertical-align: middle;
              margin-left: .5em;
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes change_border_top_right_radius {
  from {
    border-top-right-radius: 45px;
  }
  to {
    border-top-right-radius: 25px;
  }
}
@-moz-keyframes change_border_top_right_radius {
  from {
    border-top-right-radius: 45px;
  }
  to {
    border-top-right-radius: 25px;
  }
}
@-o-keyframes change_border_top_right_radius {
  from {
    border-top-right-radius: 45px;
  }
  to {
    border-top-right-radius: 25px;
  }
}
@keyframes change_border_top_right_radius {
  from {
    border-top-right-radius: 45px;
  }
  to {
    border-top-right-radius: 25px;
  }
}

@-webkit-keyframes change_border_top_left_radius {
  from {
    border-top-left-radius: 45px;
  }
  to {
    border-top-left-radius: 25px;
  }
}
@-moz-keyframes change_border_top_left_radius {
  from {
    border-top-left-radius: 45px;
  }
  to {
    border-top-left-radius: 25px;
  }
}
@-o-keyframes change_border_top_left_radius {
  from {
    border-top-left-radius: 45px;
  }
  to {
    border-top-left-radius: 25px;
  }
}
@keyframes change_border_top_left_radius {
  from {
    border-top-left-radius: 45px;
  }
  to {
    border-top-left-radius: 25px;
  }
}
